/*-----------Maëlle---------------------*/
@media only screen and (max-width: 768px) {
/* Menu */
#site {
	width: 100%;
	text-align: center;
	background-color:#fffff;
}
.navigation {

	overflow: hidden;
	display: inline-block;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	box-shadow: 0 0 0px rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 0 0 0px rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.6);
}
.fixnav{
	z-index: 9999;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	border-bottom:2px solid #8A4D1E;
}
.navigation li{
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

	border-right: 1px solid rgba(9, 9, 9, 0.125);


	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

	position:relative;

	float: left;
	list-style: none;
}

.navigation li:after{


	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;


	background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
	background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;


	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;
}


.navigation li:first-child{
	border-radius: 4px 0 0 4px;
}

.navigation li:first-child:after,
.navigation li.selected:first-child:after{
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

	border-radius:4px 0 0 4px;
}

.navigation li:last-child{
	border-radius: 0 4px 4px 0;
}

.navigation li:last-child:after,
.navigation li.selected:last-child:after{
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

	border-radius:0 4px 4px 0;
}

.navigation li:hover:after,
.navigation li.selected:after,
.navigation li:target:after{
	opacity:1;
}

.navigation:hover li.selected:after,
.navigation:hover li:target:after{
	opacity:0;
}

.navigation li.selected:hover:after,
.navigation li:target:hover:after{
	opacity:1 !important;
}


.navigation li a{
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
}


/* Fin Menu */
/* image de la recherce */
.loop{
float: left;
margin-right: 3px;
}

/* zone de recherche */
.recherche{
float: right;
margin-top: 1.5%;
margin-right: 6%;
}

/* input de la zone de recherche */
.input{
margin-top: 1.5%;
}
/*Films*/
.bloc {
	display: block;
	width: 90%;
    overflow: auto;
	margin-right : auto;
	margin-left : auto;
	margin-bottom: 10px;
	border : 1px solid;
 h3 {
    text-align: center;
    margin:0 0 2px 0;
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
}
 a {
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
}
 a:hover {
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
	text-shadow:1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;

}
}
.description {
img{
    width: 150px;
    height: auto;
    float:left;
}
 p{
	margin-right:10px;
    width: 75%;
    height: auto;
	margin-top: 5%;
    text-align: justify;
	float: right;
}
}
/*Fin Films*/

/*footer*/
.footer {
a {
text-decoration: none;
font: 20px/1 Lobster,Arial,sans-serif;
color: black;
}
a:hover {
color: red;
}
}
}
/*fin footer*/

@media only screen and (max-width: 480px) {
/* image de la recherce */
.loop{
float: right;
margin-right: 15%;
}

/* zone de recherche */
.recherche{
float: right;
margin-top: 1.5%;
margin-right: 1.5%;
}
/* input de la zone de recherche */
.input{
visibility: hidden;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

/*Films*/
.bloc {
	display: block;
	width: 90%;
    overflow: auto;
	margin-right : auto;
	margin-left : auto;
	margin-bottom: 10px;
	border : 1px solid;
 h3 {
    text-align: center;
    margin:0 0 2px 0;
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
}
 a {
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
}
 a:hover {
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
	text-shadow:1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;

}
}
.description {
img{
    width: 200px;
    height: auto;
    float:left;
}
.description p{
	font-size : 1.2em;
	margin-right:10px;
    width: 75%;
    height: auto;
	margin-top: 10%;
    text-align: justify;
	float: right;
}
}
/*Fin Films*/

/*footer*/
.footer {
a {
 margin-left: 40%;
text-decoration: none;
font: 20px/1 Lobster,Arial,sans-serif;
color: black;
}
a:hover {
color: red;
}
}
}
/*fin footer*/
@media only screen and (max-width: 375px) {
/* Menu */
#site {
	width: 100%;
	text-align:initial;
	margin-left: -15px;
}
.navigation {

	overflow: hidden;
	display: inline-block;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	box-shadow: 0 0 0px rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 0 0 0px rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.6);
}
.fixnav{
	z-index: 9999;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	border-bottom:2px solid #8A4D1E;
}
.navigation li{
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

	border-right: 1px solid rgba(9, 9, 9, 0.125);


	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

	position:relative;

	float: left;
	list-style: none;
}

.navigation li:after{


	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;


	background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
	background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;


	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;
}


.navigation li:first-child{
	border-radius: 4px 0 0 4px;
}

.navigation li:first-child:after,
.navigation li.selected:first-child:after{
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

	border-radius:4px 0 0 4px;
}

.navigation li:last-child{
	border-radius: 0 4px 4px 0;
}

.navigation li:last-child:after,
.navigation li.selected:last-child:after{
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

	border-radius:0 4px 4px 0;
}

.navigation li:hover:after,
.navigation li.selected:after,
.navigation li:target:after{
	opacity:1;
}

.navigation:hover li.selected:after,
.navigation:hover li:target:after{
	opacity:0;
}

.navigation li.selected:hover:after,
.navigation li:target:hover:after{
	opacity:1 !important;
}


.navigation li a{
	color: #5d5d5d;
	display: inline-block;
	font: 15px/1 Lobster,Arial,sans-serif;
	padding: 5px 5px 5px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
}

.navtitre{
font-size: 2em;
}

/* image de la recherce */
.loop{
float: left;
margin-right: 3px;
}

/* zone de recherche */
.recherche{
width: 8%;
}

/* input de la zone de recherche */
.input{
visibility: hidden;
}

/* Fin Menu */

/*Films*/
.bloc {
	display: block;
	width: 90%;
    overflow: auto;
	margin-right : auto;
	margin-left : auto;
	margin-bottom: 25px;
	border : 1px solid;
 h3 {
    text-align: center;
    margin:0 0 2px 0;
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
}
 a {
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
}
 a:hover {
	font-size:20px;
	color:white;
	background-color: black;
	text-decoration: none;
	text-shadow:1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;

}
}
.description {
img{
    width: 100px;
    height: auto;
    float:left;
}
p{
	margin-right:10px;
	font-size:0.6em;
    width: 55%;
    height: auto;
	margin-top: 2%;
    text-align: left;
	float: right;
}
}
/*Fin Films*/

/*footer*/
.footer{
a {
 margin-left: 40%;
text-decoration: none;
font: 12px/1 Lobster,Arial,sans-serif;
color: black;
}
a:hover {
color: red;
}
}
.haut {
width: 8%;
}
}
/*fin footer*/
